#actions-container {
    display: flex;
    justify-content: space-around;
}

#delete-all-btn {
    background-color: rgb(255, 140, 140);
}

.footer-btn {
    margin: auto 0.5rem;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    background-color: rgb(120, 176, 255);
}

.footer-btn-active {
    background-color: rgb(131, 120, 255) !important;
}
